
*{
    margin: 0%;
}
body{
    background: #000;
}
#terminal{
    .line{
        font-family:monospace;
        font-size: 1.1em;
 
        color: rgb(0, 255, 0);
        filter: blur(.1px);

    }
    .active{
  
        &::after{
            content: '_';
            animation: cursor_blink .8s ease-in-out 0s infinite;
            
        }
    }
}

@keyframes cursor_blink {
    0%,100%,25%{
        opacity: 100%;
    }
    50%,75%{
        opacity: 0%;
    }
}