<script src="./Scripts/navbar.js"></script>
<div class="navbar" id="navB">
  <a href="index.html" id="NavBLG">
  
    <img src="Media/Logos/main-logo.png" alt="Inspirus 2022" class="logo">
  </a>

  <nav> 
       <ul id=menuList>
            <li><a href="index.html">HOME</a></li>
            <li><a href="./SubPages/team_2022.html">TEAM</a></li>
       </ul>
  </nav>

  <span class="material-symbols-outlined" id="colorSwitcher" onclick="ColorScheme()" >
    
    </span>
    
 <span class="material-symbols-outlined menu-icon" id="MENUBUTTON" onclick="togglemenu()" >
  menu
  </span>
<a href=".//SubPages/Terminal/Terminal.html"><span class="material-symbols-outlined" style=" font-variation-settings:'FILL' 0,'wght' 400;">
    terminal
    </span></a>
  
</div>