<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Profile.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="PersonCard">
        <div id="PersonDP"><img src="../Media/PeoplePics/Rhys.jpg" alt=""></div>
        <div id="PersonDetails">
            <H1 id="PersonName">Rhys Josmin</H1>
            <H1 id="PersonPosition">WebDev</H1>
        </div>
    </div>
</body>
</html>

