/* .main {
  margin: auto;
  margin-bottom: 10rem;
}
.main-para {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  padding-left: 0;
  width: 90%;
}

.event-title {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 10rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rules li {
  margin-left: 2rem;
}
.rules {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  margin-top: 4rem;
  max-width: 60%;
}

.top {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.123);
  border: 0.1rem solid rgba(255, 255, 255, 0.089);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(36, 36, 36, 0.74);
  backdrop-filter: blur(0.45rem);
  -webkit-backdrop-filter: blur(0.45rem);
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  padding: 2rem;
}

.bottom {
  height: 72%;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.123);
  border: 0.1rem solid rgba(255, 255, 255, 0.089);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(36, 36, 36, 0.74);
  backdrop-filter: blur(0.45rem);
  -webkit-backdrop-filter: blur(0.45rem);
  border-radius: 2rem;
  padding: 2rem;
}

.sub-title {
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
}
.right {
  margin-top: 6.2rem;
}
.event-details {
  height: 23rem;
  color: rgb(255, 255, 255);
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.123);
  border: 0.1rem solid rgba(255, 255, 255, 0.089);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(36, 36, 36, 0.74);
  backdrop-filter: blur(0.45rem);
  -webkit-backdrop-filter: blur(0.45rem);
  padding: 1.2rem;
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 6rem;
  font-size: 1.6rem;
}
.prizes {
  height: 16rem;

}
.event-details-header {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.event-details-section {
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
.illustration {
  z-index: 3;
  height: 40rem;
  width: 40rem;
  vertical-align: middle;
  align-self: center;
  width: 100%;
  z-index: 5;
  margin-top: 2rem;
  border-radius: 2rem;
}
.card {
  width: 32.5rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.123);
  border: 0.1rem solid rgba(255, 255, 255, 0.089);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(36, 36, 36, 0.74);
  backdrop-filter: blur(0.45rem);
  -webkit-backdrop-filter: blur(0.45rem);
  color: white;
  margin-bottom: 6rem;
}
.blob_pink,
.blob_grey,
.blob_yellow,
.blob_grey,
.blob_red,
.blob_green {
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}
.register-button {
  position: relative;
  margin-top: 2rem;
  background-size: cover;
  text-align: center;
  color: white;
  border-radius: 2rem;
  width: 28.5rem;
  height: auto;
  background-size: 400% 400%;
  font-size: 3rem;
  font-weight: 300;
}

@media (max-width: 900px) {
  .event-title {
    font-size: 6rem;
  }
  .main {
    margin-bottom: 2rem;
  }
  .main-para {
    width: 100%;
  }
  .register-button {
    margin: auto;
    width: 80%;
    margin-top: 3rem;
  }
  .rules {
    padding: 1rem;
  }
  .rules,
  .event-details,
  .card {
    margin: auto;
    max-width: 85%;
    height: auto;
  }
  .rules {
    margin-bottom: 0;
  }
  .event-details {
    margin: 0 0 0 0;
    margin: auto;
    padding: 1rem;
    width: 90%;
  }
  .card {
    width: 100%;
    margin-top: 3rem;
  }
  .illustration {
    margin: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    height: auto;
    width: 70%;
    margin-left: 6rem;
    margin-bottom: 3rem;
  }
  .prizes {
    margin-top: 3rem;
    height: auto;
  }
} */
