/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */














canvas {
  display: block;
  z-index: 10;
  position: fixed;
}

#P-cont {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
}

#particles-js {

  filter: blur(50px);
  opacity: 100%;
  width: 90%;
  height: 90%;
  transform: scale(1.5);
}

body {
  margin: 0;
}

#particles-js {
  background: rgb(203, 203, 203);
}