@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;900&display=swap');
html {
  font-size: 62.5%; /*  1rem = 10px  */
  scroll-behavior: smooth;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
   color: var(--NavText);
   margin-right: 2rem;
   cursor: pointer;
}
.material-symbols-outlined:hover{
  color: var(--accent) ;
}
:root {
  --NavColor:rgb(0, 0, 0);
  --NavText:white;
  --bg:#ffffff;
  --text:#000000;
  --textCard:black;
  --black:#000000;
  --radius:.2rem;
  --cardColor:rgba(255, 255, 255, 0.26);
  --MembercardColor:rgb(255, 255, 255);
  --thickness:.2rem;
  --HRColor:rgb(0, 0, 0);
  --accent:rgb(252, 0, 231);
  --accentHover:rgb(255, 255, 255);
  --accent2:rgb(0, 0, 0);
  

}
.highlightedText{
font-weight: 450;
  color: rgb(0, 72, 255);
}
.SocialButton{
  color: var(--text);
}
.member{
  background: var(--MembercardColor);
  color: var(--text);
}
* ::-webkit-scrollbar {
  display: none
}

/* nav style start*/
.navbar {

  background: var(--NavColor);

  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 20rem;
  object-fit:cover;
  height: 5rem;
  padding: 1rem;
  cursor: pointer;

  align-content: center;
}

.menu-icon {
 cursor: pointer;
  display: none;
  color: var(--NavText) ;
}
.menu-icon:hover{
  color: var(--accent) ;
}
#menuList{
  max-height: 130px;
}
nav {

  flex: 1;
  text-align: right;
  z-index: 2;
}

nav ul li {
  position: relative;
 
  display: inline-block;

 
}

nav ul li a {

  border-radius: var(--radius);
  color: var(--NavText) !important;
  padding: 1rem !important;
  transition: all 150ms;
  font-size: 1.7rem;
}
nav ul li a:hover{
  color: var(--accent) !important;
}


/*nav end*/


a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  max-width: 100vw;
}

.main-title {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 10rem;
  color: rgb(60, 217, 223);
  background: #fc00ff; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}

.helper-title {
  position: relative;
  text-align: center;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 0rem;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.event {
  display: flex;
  width: 80%;
  margin: auto;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 2.4rem;
  color: var(--text);
}

.event-head {
  margin: auto;
  font-weight: bold;
}

/*Heading */
.foot-r .section-header {
  font-size: 3rem;
}

.section-header {
  text-align: center;
  -webkit-backdrop-filter: blur(0rem);
  backdrop-filter: blur(0rem);
  color: var(--text);
  font-size: 7rem;
  font-weight: bold;
  margin-top: 2rem;
}

.section-header hr {
  border: var(--thickness) solid var(--HRColor);
  border-radius: 100vw;
  margin: auto;
  width: 80%;
  padding: 0;
}

.about-card {
  color: var(--textCard);
  width: 80%;
  border-radius: 0.5rem;
  margin: auto;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 300;
  background-color: var(--cardColor);
  padding: 3rem;
  border-radius: 1rem;
  backdrop-filter: blur(0.45rem);
  -webkit-backdrop-filter: blur(0.45rem);
  margin-top: 0.7rem;
}

.about-card b {
  font-weight: 100000;
}

/*End of Heading*/
.event-card {
  color: var(--textCard);
  display: flex;
  z-index: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20rem;
  background-color: var(--cardColor);
  padding: 2rem;
  padding-left: 30rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0.45rem);
}

/* Sponsors */
.helper-container {
  position: relative;
  width: 83%;
  background-color: rgba(0, 0, 0, 0.171);
  margin: auto;
  border-radius: 2rem;
  margin-bottom: 7rem;
}

.sponsors {
  color: var(--textCard);
  position: relative;
  width: 84%;
  display: flex;
  border-radius: 0.5rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(0.45rem);
  backdrop-filter: blur(0.45rem);
  margin-bottom: 2rem;
}

.helper-logo {
  align-content: center;
  text-align: center;
  justify-self: center;
  border-radius: 2rem;
  overflow: hidden;
  margin: auto;
}

.helper-logo img {
  height: 10rem;
  width: auto;
}

.silicon {
  width: 70%;
  height: 60%;
  margin: auto;
  align-items: center;
}

.silicon img {
  margin-left: 17rem;
}

.siliconx {
  width: 70%;
  height: 60%;
  margin: auto;
  align-items: center;
}

.siliconx img {
  margin-left: 8rem;
}

.silicons {
  width: 40%;
  height: 60%;
  margin: auto;
  align-items: center;
}

.silicons img {
  margin-left: 13rem;
}

/* all Sponsors */
.all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sponsorsa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  color: white;
  width: 50%;
  margin-bottom: 7rem;
  margin: auto;
}

.sponsorsax {
  flex-direction: row;
  color: white;
  width: 50%;
  display: flex;
  margin-bottom: 7rem;
  margin: auto;
}

.sponsorax-logo img {
  margin: 0.5rem;
}

.sponsorax-logo {
  justify-self: center;
  overflow: hidden;
  width: 100%;
}

.sponsora-logo {
  justify-self: center;
  overflow: hidden;
  width: 100%;
}

.sponsora-logo img {
  margin: 0.2rem;
}

.event-card h1 {
  margin: 0;
  font-size: 5rem;
}

.event-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 54%;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.2vw;
}

.register-button {
  text-align: center;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--accent);
  transition: 300ms;
}

.register-button:hover {
color: #000000;
  background: var(--accentHover);
  
}

.page-link {
  text-align: center;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--accent2);
  transition: 300ms;
  /* box-shadow:  2px -2px 7px #1f93d7,
                 -2px 2px 7px #10419b;
     */
}

.page-link:hover {

  color: black;
  background: #ffffff;
}

.download-button {
  align-content: center;
  align-self: center;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  background: #228aec;
  width: 80%;
  transition: 300ms;
}
.download-button:hover{
  background: #0007de;
}
.mm {
  margin-left: 36%;
}

.event-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--textCard);

  padding: 0.2rem;
}



/*Footer Start*/
.footer {
  min-height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  padding: 2rem;
  background-color: #0c0c0c;
}

.foot-L {
  width: 45%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 3rem;
}

.foot-r {
  width: 50%;
  margin: auto;
  padding: 0;
}

.dbce-logo {
  z-index: 4;
  width: 90%;
  height: auto;
  padding-bottom: 1rem;
}

.inspirus-logo {
  width: 25rem;
  
}

.footer-text-left {
  color: white;
  font-size: 1.6rem;
  padding: 0.8rem;
}

.foot-r iframe {
  align-self: baseline;
  justify-self: space-around;
  width: 60rem;
  height: 20rem;
  border-radius: 2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: auto;
  justify-content: center;
  padding: 2rem;
}

.list li {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  justify-content: center;
  padding: 1rem;
  margin: 0.7rem;
  border-radius: 5rem;
}

.list li img {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 3rem;
}

.list li:hover {
  background-color: slateblue;
}

/*End Of Footer*/
.insta-icon {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

/*MOBILE VIEW */
@media (max-width: 900px) {
  .silicon {
    width: 50%;
    height: 30%;
    margin: auto;
    align-items: center;
  }
  .silicon img {
    margin-left: 1rem;
  }
  #xyz {
    margin-top: 2.3rem;
  }
  .main-title {
    font-size: 4.5rem;
  }
  .logo {
    width: 11rem;
  }
  .menu-icon {

    max-width: 5vw;
 
  }
  nav ul {
    width: 100%;
    backdrop-filter: blur(10px);

    position: absolute;

    top: 5rem;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    padding: 1rem;
    display: block;
    margin-top: 1rem;
    text-align: center;
   
   
  }
 
  nav ul li a {
 
    font-size: 2rem;
    padding: 0.1rem;
    margin-right: -2rem;
  }


  .menu-icon {
    user-select: none;
    display: block;
    
  }
  #menuList {
    background: var(--NavColor);
    max-height: 0px;
    overflow: hidden;
    transition: 250ms;
  }

  body {
    max-width: 100vw;
    width: 100%;
  }
  .event {
    flex-wrap: wrap;
    width: 90%;
  }
  .helper-container {
    margin-top: -1rem;
    width: 95%;
    margin-bottom: 0;
  }
  .sponsors {
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
    flex-shrink: 5;
    flex: 2;
    justify-content: center;
    align-items: center;
  }
  .helper-title {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .helper-logo {
    flex-wrap: nowrap;
    padding: 0;
    margin: auto;
    max-width: 15rem;
  }
  .helper-logo img {
    height: auto;
  }
  .sponsorsa {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    flex-wrap: wrap;
    flex: 5;
    align-items: center;
    justify-self: center;
  }
  .sponsorax {
    width: 100%;
  }
  .sponsorax-logo {
    margin-top: 0.5rem;
  }
  .sponsorax-logo img {
    width: 95%;
  }
  .helper-logo img {
    margin-top: 0.8rem;
    width: 90%;
  }
  .event-card {
    margin-left: 0rem;
    padding-left: 0rem;
    padding: 2rem;
    margin-top: -12.5rem;
    padding-top: 12.5rem;
  }
  .event-text {
    font-size: 3.5vw;
  }
  .about-card {
    font-size: 1.8rem;
    width: 75%;
  }
  .event h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .event-buttons {
    width: 55%;
    margin: auto;
    margin-top: 3rem;
  }
  .register-button,
.page-link {
    padding: 1rem;
    font-size: 3vw;
  }
  .download-button {
    padding: 1rem;
    font-size: 3vw;
  }
  .section-header {
    font-size: 4rem;
  }
  .section-header hr {
    width: 90%;
  }
  .foot-L {
    width: 110%;
    height: 110%;
  }
  .list li img {
    width: 1rem;
    height: 0.8rem;
  }
  .foot-r {
    width: 90%;
  }
  .map iframe {
    margin: auto;
    width: 100%;
    height: 50%;
  }
  .sponsora-logo img {
    margin: auto;
    align-items: center;
    width: 96%;
  }
  .silicon {
    margin-left: -3rem;
    width: 100%;
    margin: auto;
  }
  .silicon img {
    margin-left: 0%;
    width: 100%;
  }
  .siliconx {
    margin-left: -3rem;
    width: 100%;
    margin: auto;
  }
  .silicons img {
    margin-left: 0%;
    width: 100%;
  }
  .silicons {
    margin-left: -3rem;
    width: 100%;
    margin: auto;
  }
  .siliconx img {
    margin-left: 0%;
    width: 100%;
  }
}
/*Time line*/
.eventx {
  
  padding-top: 2rem;
  margin: auto;
  color: var(--text);
}

.timeline {
  
  list-style-type: none;
  display: flex;
  align-items: center;

  margin-top: 2rem;
}

.event-cardx {

  margin: auto;
  display: flex;
  z-index: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
  border-radius: var(--radius);
  justify-content: center;
  align-content: center;
  align-items: center;

  backdrop-filter: blur(0.45rem);
  -webkit-backdrop-filter: blur(0.45rem);
}

.event-cardx h2 {
  
  padding-top: 0;
  margin-top: 0;
  margin: auto;
  padding: 2.5rem;
  font-size: 4rem;
}

.li {
  transition: all 100ms ease-in;
}

.timestamp {
  margin-bottom: 2rem;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 2rem;
  color: var(--textCard);
}

.status {
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  border-top: 0.4rem solid var(--text);
  position: relative;
  transition: all 200ms ease-in;
}

.status h4 {
  font-size: 2rem;
  font-weight: bold;
}

.status:before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(17, 0, 116);
  border-radius: 2.5rem;
  /* border: .01rem solid #ddd; */
  position: absolute;
  top: -1.5rem;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 0.2rem solid --textCard;
}

.li.complete .status:before {
  background: #bc4e9c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-color:#9F27A8; */
  /* border: .005rem white solid; */
  transition: all 200ms ease-in;
}

.li.complete .status h4 {
  color: --textCard;
  padding: 1rem;
}

.mediap {
  text-align: center;
  width: 100%;
}

@media (min-device-width: 260px) and (max-device-width: 883px) {
  .eventx {
    width: 95%;
  }
  .event-cardx {
    width: 95%;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 0rem;
    height: auto;
    padding-bottom: 2rem;
  }
  .download-button {
    margin: auto;
    padding: 1rem;
    font-size: 3vw;
  }
  .timestamp {
    padding: 0rem 0rem;
    margin-right: 3rem;
  }
  .timeline {
    list-style-type: none;
    display: block;
  }
  .li {
    width: 100%;
    transition: all 200ms ease-in;
    display: flex;
  }
  .date {
    bottom: 10%;
    font-size: 1.5rem;
  }
  .status:before {
    padding: 0rem 0rem;
    left: -8%;
    top: 36%;
    transition: all 200ms ease-in;
  }
  .event-cardx h2 {
    font-size: 2rem;
  }
  .event-cardx h4 {
    font-size: 1.5rem;
  }
  .helper-logo {
    margin: 0.5rem;
  }
  .helper-logo img {
    margin-top: 0.8rem;
    margin: auto;
    width: 70%;
  }
  /*all*/
  .sponsorsa {
    margin-bottom: 5rem;
    width: 90%;
  }
  .sponsora-logo {
    width: 67%;
  }
  .sponsora-logo img {
    margin-top: 0.8rem;
    width: 47%;
  }
  .mediap {
    text-align: center;
    width: 200%;
  }
}
/*end of timeline*/ /*# sourceMappingURL=style.css.map */