body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    z-index: 999;
}
.navbar{
    height: auto;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
}
.link{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.link:hover{
    color: black;
}
/*team container*/
.team{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    z-index: 999;
    text-align: center;
    display: inline-flex;
}
.mem{
    width: 25%;
    height: 100%;
    z-index: 0;
    padding: 10px 30px 10px 30px;
}
/*
#r1{
    background-color: green;
}
#r2{
    background-color: yellow;
}
#r3{
    background-color: pink;
}
#r4{
    background-color: blue;
}*/

div.card
{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.373);
    border-radius: 50px;
    padding-top: 20px;
}
.dp{
    height: 12vw;
    width: auto;
    border-radius: 100px;
}
.name{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0px 8px 0px;
    font-size: 3vh;
}
.title{
    color: rgb(255, 255, 255);
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    z-index: 0;
    padding: 20px 0px 0px 0px;
}
