body{
    font-size: 62.5%; /*  1rem = 10px  */
    background-color: black;
    margin: 0px;
    padding: 0px;
    z-index: 999;
}
.navbar{
    height: auto;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: black;
}
.link{
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
.link:hover{
    color: black;
}
/*team container*/
.team{

    padding: 0px;
    text-align: center;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.card
{
 

    width: 100%;
    background-color: rgba(0, 0, 0, 0.373);
    border-radius: .2rem;
    padding-top: 20px;

}
.member{
    height: auto;

    width:20rem;
    min-height: 25rem;

    border-radius: 4rem 4rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
transition: 400ms;
}
.card{
    border-radius: inherit;

}
.member:hover{
    transform: translateY(-1rem);
}

.dp{
    
    width: 100%;
    border-radius: inherit;
}
.name{

  
    font-family: "Poppins", sans-serif;

    font-size: 1.6rem;

}
.title{
    color: rgb(255, 255, 255);
    margin-left: 60px;
     font-family: "Poppins", sans-serif;
    font-size: 25px;
    z-index: 0;
    padding: 20px 0px 0px 0px;
}

.section-header{
font-size: 3rem !important;
font-weight: 300 !important;
}

.section-header hr{
    border: .1px solid black !important;
}