body{
    font-size: 62.5%; /*  1rem = 10px  */
    background-color: black;
    margin: 0px;
    padding: 0px;
    z-index: 999;
}
.navbar{
    height: auto;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: black;
}
.link{
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
.link:hover{
    color: black;
}
/*team container*/
.team{

margin-top: 6rem;
margin-bottom: 7rem;
    text-align: center;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.member{
 
    width:20rem;
    min-height: 32rem;
    border-radius: 4rem 4rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
transition: 400ms;
}
.card{
    border-radius: inherit;

}
.member:hover{
    transform: translateY(-1rem);
}

.dp{
  
    
    width: 100%;
    border-radius: inherit;
}
.name{
    font-weight: 900;
   
    font-size: 1.6rem;

}
.role{

    font-weight: 300;
    font-size: 1.4rem;
}
.title{
    color: rgb(255, 255, 255);
    margin-left: 60px;

    font-size: 25px;
    z-index: 0;
    padding: 20px 0px 0px 0px;
}

.section-header{
font-size: 3rem !important;
font-weight: 300 !important;
}

.section-header hr{
    border: .1px solid black !important;
}

.SocialButton{
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background: rgb(220, 220, 220);
    padding: .5rem 5rem;
    transition: 400ms;
    
}

.SocialButton:hover{
    background: rgb(0, 123, 255);
}